# Django Settings
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=generate-a-secure-key-here
DEBUG=True

# Database Configuration
DB_NAME=transport_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432

# Redis Configuration (Used for Celery & WebSockets)
REDIS_URL=redis://127.0.0.1:6379/0
REDIS_WS_URL=redis://127.0.0.1:6379/1

# GDAL Configuration (Windows only)
# Chemin vers le dossier bin de OSGeo4W (ex: C:\OSGeo4W\bin ou C:\Program Files\PostgreSQL\15\bin)
# GDAL_BIN_PATH=C:\OSGeo4W\bin
# Nom de la DLL (ex: gdal307.dll, gdal312.dll)
# GDAL_DLL_NAME=gdal312.dll
